@model IEnumerable<PhotoPorto.Models.Gallery>

@{
    ViewBag.Title = "Galleries";
}

<link href="@Url.Content("~/Content/heroic-features.css")" rel="stylesheet" type="text/css" />
@Scripts.Render("~/bundles/gallery")

<div id="galleriesDiv">
    @Html.DisplayForModel()
</div>