@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pune Pune<br />
    Kolhapur Kolhapur <br />
    <abbr title="Phone">Phone:</abbr>
    000-000-0000
</address>

<address>
    <strong>Person:</strong>   <a href="mailto:foo@bar.com">foo@bar.com</a><br />    
</address>