@model PhotoPorto.Models.Gallery

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>@Model.Title <small>@Model.Description</small> <a class="btn btn-primary btn-large" href='@Url.Action("Details", "Galleries", new {  id = Model.ID})'>View</a></h1>
        </div>
        <canvas id="galleryCanvas-@Model.ID"></canvas>
    </div>
</div>

@Scripts.Render("~/bundles/gallery")
<script>
    (function () {

        //Defining Canvad dimentions
        // TODO: set width percent dynamically, depending upon device.
        var CanvasXSize = (getPageWith() / 100) * 60;
        var CanvasYSize = 300;

        //imageSrcs array contains relative path of photographs in gallery
        //var imageSrcs = ["photograph/1/1.jpg", "photograph/3/3.jpg", "photograph/4/4.jpg", "photograph/5/5.jpg", "photograph/6/6.jpg"];
        var imageSrcs = [];
        @foreach (var photograph in Model.Photographs)
        {
            @:imageSrcs.push('/photograph/' +@photograph.ID +'/' +@photograph.ID +'.jpg');
        }

        // Array to hold images
        var images = [];

        /*
         * galleryCanvas
         *
         */
        var galleryCanvasElement = document.getElementById('galleryCanvas-@Model.ID');
        galleryCanvasElement.height = CanvasYSize;
        galleryCanvasElement.width = CanvasXSize;

        //Load images and draw over galery canas
        preloadImagesForGalleryCanvas(imageSrcs, images, 'galleryCanvas-@Model.ID');

    })();
</script>
@*http://jameschambers.com/2014/06/day-9-templates-for-complex-types/*@
